<!DOCTYPE html>
<html>
  <head>
    <title>Manager Home</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!--STYLES-->
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->
  </head>

  <h1>Welcome To Activities Manager</h1>
  <body>
    <table>
      <tr>
        <td><a href='/manager/createActivityGet'>Create Activity</td>
      </tr>
      <tr>
        <td><a href='/manager/editActivityList'>Edit Activity</td>
      </tr>
      <tr>
        <td><a href='/manager/deleteActivityList'>Delete Activity</td>
      </tr>
      <tr>
        <td><a href='/manager/updateDatabaseGet'>Update Database Model</td>
      </tr>
      <tr>
        <td><a href='/manager/updateActivityModel'>Update Activity Model</td>
      </tr>
      <tr>
        <td><a href='/log'>Log page</td>
      </tr>
    </table>
    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
